---
---

@import "{{ site.theme }}";

body {
    background-color: powderblue;
}

h1 {
    background-color: azure;
    color: indigo;
}

h2 {
    background-color: darkturquoise;
    color: midnightblue;
}